body {
	margin: 0px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container-logo img {
	width: 60px;
	float: left;
	margin: 10px;
}

/*Nuevo div para slogan header*/

.container-slogan {
	float: left;
	padding-top: 20px;
}

.image-box  {
    background-image: url(../img/heading.jpg);
    width: 100%;
	height: 350px;
	background-size: cover;
}

/*Nuevo estilo del menú*/

.menu a{
	font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color:blue;
    text-decoration: none;
}

/*Quito especificaciones tipográficas y las ubico en .menu a*/

.container-menu {
	float: right;
	width: 300px;
}

.container-menu li{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 15px;
	padding-left: 10px;
}

.zona-buscador{
	position: relative;
}

.titular {
	width: 0 auto;
	position: absolute;
	top: 80px;
	width: 100%;
}

.submit { 
	width: 100px;
}

.modulo {
	width: 200px;
	height: 120px;
	background-color: blue;
	color: white;
	float: right;
	margin: 20px;
	margin-top: 20
}

/*Añado estilo a form y input*/

form {
  	position: relative;
  	top: -162px;
  	left: 15%;
}

input {
	padding: 10px;
  	width: 60%;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(10, 26, 0, 1);
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: center;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    margin-left: 15px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
    font-weight: 300 italic;
    color: white;
    margin: 15px;
}